@model ResetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Şifrenizi Giriniz</label>
        <input type="password" asp-for="Password" class="form-control" required />
        <br />
        <label>Şifrenizi Tekrardan Giriniz</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" required />
  
        <button class="btn btn-primary">Şifre Yenileyi</button>
    </form>
</div>